alembic==1.7.5
attrs==21.4.0
beautifulsoup4==4.9.1
blinker==1.4
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.11
click==8.0.3
cryptography==36.0.1
defusedxml==0.7.1
dnspython==2.1.0
eight==1.0.1
email-validator==1.1.1
fastjsonschema==2.14.4
Flask==1.1.2
Flask-Cors==3.0.8
Flask-Login==0.5.0
Flask-Mail==0.9.1
Flask-Migrate==3.1.0
flask-saml2==0.3.0
Flask-SQLAlchemy==2.4.3
Flask-WTF==1.0.0
future==0.18.2
greenlet==1.1.2
ijson==3.1.4
idna==3.3
importlib-metadata==4.9.0
importlib-resources==5.4.0
iso8601==0.1.16
itsdangerous==1.1.0
Jinja2==2.11.2
jaconv==0.3
lml==0.0.9
lxml==4.7.1
Mako==1.1.6
MarkupSafe==1.1.1
mysql-client==0.0.1
mysql-connector-python==8.0.20
numpy==1.22.1
paramiko==2.10.4
protobuf==3.19.4
pycparser==2.21
PyMySQL==0.9.3
pyOpenSSL==17.5.0
python-dateutil==2.8.2
python-dotenv==0.19.2
pytz==2020.1
PyYAML==5.3.1
requests==2.27.1
rfc3339-validator==0.1.2
signxml==2.9.0
six==1.16.0
soupsieve==2.3.1
SQLAlchemy==1.4.39
sqlalchemy-datatables==2.0.1
urllib3==1.26.8
urwid==2.1.2
Werkzeug==1.0.1
WTForms==2.3.3
zipp==3.6.0
pyodbc
python-crontab
flask_oidc
sqlalchemy_utils
pandas
xlsxwriter
boxsdk
jsonmerge
openpyxl
elasticsearch
elasticsearch-dsl
pyteams
pymsteams